<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group btn-toolbar">
                        <button class="btn btn-success" type=submit>Save</button>
                        <button class="btn btn-danger" type="button">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Image Url">Image Url</label>
                        <input type="text" class="form-control" formControlName="imgPath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img src="" class="img-responsive" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="form-group">
                        <input type="text" class="form-control" >
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="form-group">
                        <button class="btn btn-danger" type="button">X</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>