<div class="row">
    <div class="col-md-12">
        <form methos="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" #name>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" #description>
            </div>
            <div class="form-group">
                <label for="Image Url">Image Url</label>
                <input type="text" class="form-control" #imgUrl>
            </div>
            <div class="form-group btn-toolbar">
                <button class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</div>