<div class="row">
    <div class="col-xs-12">
        <div class="col-md-7">
            <button class="btn btn-success" (click)="onAddRecipe()">New Recipe</button>
            <app-recipes-list></app-recipes-list>
        </div>
        <div class="col-md-5">
            <router-outlet></router-outlet>
            <!-- <app-recipe-detail [recipe]="recipeDetail" *ngIf="recipeDetail; else infoText"></app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a recipe !</p>
        </ng-template> -->
        </div>
    </div>
</div>