<div class="row">
    <div class="col-xs-12">
        <button routerLink="/recipes/add" class="btn btn-success">New Recipe</button>
    </div>
    <div class="col-md-7">
        <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-5">
        <router-outlet></router-outlet>
        <!-- <app-recipe-detail [recipe]="recipeDetail" *ngIf="recipeDetail; else infoText"></app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a recipe !</p>
        </ng-template> -->
    </div>
</div>
